* {
  padding: 0;
  margin: 0;
  /* border: solid 1px red; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --header-color: #343a40;
}

button {
  background-color: white;
}

#header {
  height: 90px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  background-color: var(--header-color);
}

#heading {
  color: white;
 
}

form {
  display: flex;
}

#input-div {
  display: flex;
  flex-direction: column;
}

#search {
  width: 250px;
  height: 26px;
  border-radius: 3px 0 0 3px;
  padding-left: 5px;
  border: none;
}

#search-button {
  border: none;
  background-color: rgb(28, 213, 28);
  color: white;
  padding: 5px 10px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

#temp-toggle {
  cursor: pointer;
  border: none;
  min-height: 26px;
  min-width: 75px;
  border-radius: 3px;
  
}

#error-message {
  font-size: 13px;
  color: red;
}

#main-container {
  display: flex;
  padding-top: 20px;
}

#today-temp {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  text-align: center;
  justify-content: center;
}

#city {
  font-size: 25px;
}

#today-temp > div {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#current-temp {
  font-size: 55px;
  font-weight: 200;
}

#temp-display {
  display: flex;
  border-top: 1px solid rgb(213, 213, 213);
  gap: 30px;
}

#temp-display,
#additional-temp {
  overflow-x: scroll;
}

.display-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.display-img {
  width: 75px;
  height: 75px;
}

#description {
  text-align: center;
  padding: 30px 0;
}

#additional-temp {
  display: grid;
  grid-template-columns: repeat(5, minmax(80px, 150px));
  grid-template-rows: repeat(2, 100px);
  
  justify-items: center;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  color: white;
  padding: 30px 30px;
}

.add-temp-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 70px;
  width: 70px;
}

.add-temp-item > p {
color: #6c757d;
  font-size: 12px;
  font-weight: 200;
  width: 100px;
  text-align: center;
}

.add-temp-item > div {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  min-width: 75px;
}

#week-temp {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

#week-header,
.week-temp-item {
  display: flex;
  font-size: 11px;
  font-weight: 300;
  border-bottom: solid 1px rgb(213, 213, 213);
  gap: 20px;
}

#week-header > p,
.week-temp-item > div {
  text-align: center;
  width: clamp(60px, 100px, 120px);
}

#week-temp-list {
  display: grid;
  grid-template-rows: repeat(7, 65px);
}

.week-temp-item {
  font-size: 12px;
}

.week-temp-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.week-img {
  width: 65px;
  
}



